@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Producto>
    
@section Styles {
    <link href="@Url.Content("~/css/productos/productos.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Productos";
}



<div class="container-fluid">

<div class="row">
    <aside class="col-2 mx-4">
        <h5>Filtros</h5>
        <ul>
            <li>
                Perifericos
            </li>
            <li>
                Hardware
            </li>
            <li>
                Accesorios
            </li>
        </ul>
    </aside>
    <ul class="productos_mostrados col-8">
        <div class="row">
            @foreach (Producto producto in Model)
            {

            <li class="producto col-xl-2 col-md-3 col-sm-4 col-6 m-2">
                <a href='@Url.Action("VerProducto","Productos",new {id = producto.Id})'>
                    <h5>@producto.Nombre</h5>
                    <img src='@Url.Content("~/img/productos/"+producto.Id+".jpg")' alt="productoFoto">
                    <h6>$ @producto.Precio</h6>
                </a>
            </li>
            }
        </div>
    </ul>
</div>
</div>
