@{
    ViewData["Title"] = "Carrito";
}

@model List<Producto>

@section Styles {
    <link href="@Url.Content("~/css/productos/carritoIndex.css")" rel="stylesheet" type="text/css" />
}

<h2>Carrito</h2>

@{
    double total = 0;
    foreach (Producto producto in Model)
    {
        <h3> @producto.Nombre @producto.Modelo @producto.Marca $ @producto.Precio </h3>
        total += producto.Precio;
    }
}

<h5>Total: $ @total</h5>

<form action="@Url.Action("FinalizarCompra","Compras")" method="post">
    <input type="submit" value="Compra">
</form>